#brand-logo {
  font-size: 34px;
}

#app-navbar {
  background: linear-gradient(120deg, #00e4d0, #5983e8);
}

@media (min-width: 300px) {
  #BackgroundHome {
    /*text-align: center;*/
    padding: 80px;
    background: url(../../assets/img/header_steam_small.png);
    background-size: cover;
    background-repeat: no-repeat;
  }
}

@media (min-width: 576px) {
  #BackgroundHome {
    /*text-align: center;*/
    padding: 130px;
    background: url(../../assets/img/header_steam_small.png);
    background-size: cover;
    background-repeat: no-repeat;
  }
}

@media (min-width: 768px) {
  #BackgroundHome {
    /*text-align: center;*/
    padding: 180px;
    background: url(../../assets/img/header_steam_small.png);
    background-size: cover;
    background-repeat: no-repeat;
  }
}

@media (min-width: 992px) {
  #BackgroundHome {
    padding: 200px;
    background: url(../../assets/img/header_steam_small.png);
    background-size: cover;
    background-repeat: no-repeat;
  }
}

@media (min-width: 1200px) {
  #BackgroundHome {
    /*text-align: center;*/
    padding: 500px;
    background: url(../../assets/img/header_steam_small.png);
    background-size: cover;
    background-repeat: no-repeat;
  }
}

@media (min-width: 300px) {
  #shortTitle {
    padding: 0px;
    width: 299px;
    height: 29px;
    margin: 0;
    font-size: 10px;
  }
}

@media (min-width: 1200px) {
  #shortTitle {
    padding: 50px;
    width: 1150px;
    height: 28px;
    margin: auto;
    font-size: 50px;
  }
}

#Features {
  padding: 0px;
  margin: 0px;
}

.fab fa-facebook-f {
  color: yellow;
}

.fb-icon {
  color: yellow;
}

.fab fa-facebook-f {
  hover: yellow;
}

.css:hover {
  background: red;
}

.media-zone {
  color: #00326c;
}

#shortTitle {
  font-size: 40px;
}

.container, .container-lg, .container-md, .container-sm, .container-xl {
  margin-right: auto;
  margin-left: auto;
}

#shortTitle {
  margin: auto;
  margin-left: auto;
}

.col {
  flex: 25%;
  /*max-width: 1200px;*/
}

@media {
}

.navbar-light .navbar-toggler-icon {
  color: blue;
}

.text-info.text-features {
  font-weight: bold;
  font-size: 50px;
  text-align: center;
}

#Features {
  font-weight: bold;
  margin-bottom: auto;
}

@media (min-width: 300px) {
  .text-left.d-flex.align-content-center.flex-wrap .memberDesc {
    width: 300px;
  }
}

@media (min-width: 768px) {
  .text-left.d-flex.align-content-center.flex-wrap {
    width: 500px;
  }
}

@media (min-width: 576px) {
  .member-row2 {
    padding-top: 0px;
  }
}

@media (min-width: 300px) {
  .member-row {
    padding-top: 500px;
  }
}

@media (min-width: 992px) {
  .member-row-all {
    height: auto;
    width: 965px;
  }
}

@media (min-width: 1200px) {
  .member-row-all {
    height: auto;
    width: 965px;
  }
}

@media (min-width: 576px) {
  .memberDesc {
    width: 500px;
    padding-left: 1px;
    margin-left: 20px;
    margin-right: 23px;
  }
}

@media (min-width: 300px) {
  .memberDesc {
    width: 270px;
    padding-left: 1px;
    margin-left: 20px;
    margin-right: 23px;
  }
}

:root {
  overflow-x: hidden;
}

body, html {
  overflow-x: hidden;
}

.container.text-center {
  height: auto;
}

.text-center.d-xl-flex.justify-content-xl-center.align-items-xl-end.page-footer.dark {
}

@media (min-width: 300px) {
  .member-row3 {
    padding-top: 100px;
  }
}

@media (min-width: 576px) {
  .member-row3 {
    padding-top: 100px;
  }
}

@media (min-width: 768px) {
  .member-row3 {
    padding-top: 100px;
  }
}

@media (min-width: 300px) {
  .member-row2 {
    padding-top: 100px;
  }
}

@media (min-width: 576px) {
  .member-row2 {
    padding-top: 100px;
  }
}

@media (min-width: 768px) {
  .member-row2 {
    padding-top: 100px;
  }
}

@media (min-width: 300px) {
  .member-row {
    padding-top: 100px;
  }
}

@media (min-width: 576px) {
  .member-row {
    padding-top: 100px;
  }
}

@media (min-width: 992px) {
  .member-row3 {
    padding-top: 0px;
  }
}

@media (min-width: 992px) {
  .member-row2 {
    padding-top: 0px;
  }
}

@media (min-width: 768px) {
  .member-row {
    padding-top: 100px;
  }
}

@media (min-width: 992px) {
  .member-row {
    padding-top: 0px;
  }
}

