#brand-logo {
  font-size: 34px;
}

#app-navbar {
  background: linear-gradient(120deg, #00e4d0, #5983e8);
}

#BackgroundHome {
  /*text-align: center;*/
  padding: 500px;
  background: url(../../assets/img/header_steam.png);
  background-size: cover;
  background-repeat: no-repeat;
}

.text-center.d-xl-flex.justify-content-xl-center.align-items-xl-center.clean-block.clean-hero {
}

