.btn {
  background-color: DodgerBlue;
  border: none;
  color: white;
  padding: 12px 30px;
  cursor: pointer;
  font-size: 20px;
}

.btn {
  background-color: RoyalBlue;
}

.ul {
  margin-right: 39px;
  margin-left: 22px;
}

.icon-color {
  margin-right: 41px;
}

.media-icon {
  margin-right: 55px;
  /*margin-top: 193px;*/
  font-size: 70px;
  /*color: gradient;*/
}

